{% extends "base.html" %}
{% block title %} Hello World ! {% endblock %}
{% block nav %}
    <nav>
        Summary :
        <ul>
            <li><a href="{% url 'artists:index' %}">Artistes</a></li>
            <ul>
                {% for artist in artists %}
                    <li><a href="{% url 'artists:by_id' artist_id=artist.id %}"> {{ artist.name }}</a></li>
                {% endfor %}
            </ul>
            <li><a href="{% url 'home' %}" >Home</a></li>
        </ul>
    </nav>
{% endblock nav %}
{% block content %}
    <article>
        <h2>Welcome on our home page. </h2>
    </article>
{% endblock %}