{% extends "home.html" %}

{% block title %} Artists {% endblock %}

{% block nav %}
{{ block.super }}
{% endblock %}

{% block content %}

    {% for artist in artists %}
        <article>
            Name : {{ artist.name }} {{ artist.firstName }} <br/>
            Birthday : {{ artist.birthday }} <br/>
            Biography : <br/>
            <pre>
        {{ artist.biography }}
    </pre>

            <ul>
                {% for creation in artist.creation_set.all %}
                    <li>{{ creation.title }}</li>
                {% endfor %}
            </ul>
        </article>

    {% empty %}
        No artist
    {% endfor %}

{% endblock %}