{% extends "base.html" %}

{% block title %} {{ artist.name }} {{ artist.firstName }} {% endblock %}

{% block nav %}
    <nav>
        Birthday : {{ artist.birthday }} <br/>
        Biography :
        <pre>{{ artist.biography }}</pre>
        <br/>

        <ul>
            {% for creation in artist.creation_set.all %}
                <li>
                    <a href="{% url 'artists:by_artist_and_creation_id' artist_id=artist.id creation_id=creation.id %}"> {{ creation.title }} </a>
                </li>
            {% endfor %}
        </ul>

        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}

    {% for creation in artist.creation_set.all %}
        <article>
            <div class="creation">
                <h3>{{ creation.title }}</h3>
                <p>{{ creation.content|truncatewords_html:80 }}</p>
                <p><a href="{% url 'artists:by_artist_and_creation_id' artist_id=artist.id creation_id=creation.id %}">
                    Lire la suite </a></p>
            </div>
        </article>
    {% endfor %}

{% endblock %}