{% extends "artist.html" %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block nav %}
{{ block.super }}
{% endblock %}

{% block content %}

    <h2>{{ creation.title }}</h2>
    <i>réalisé le : {{ creation.date }} à {{ creation.place }}</i><br />

    {{ creation.content }}

{% endblock %}