{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>SensÔson</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Style the header */
        header {
            background-color: #7f7eff;
            padding: 30px;
            text-align: center;
            font-size: 35px;
            color: white;
        }

        /* Create two columns/boxes that floats next to each other */
        nav {
            float: left;
            width: 30%;
            height: 300px; /* only for demonstration, should be removed */
            background: #a390e4;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }

        article {
            float: left;
            padding: 20px;
            width: 70%;
            background-color: #c69dd2;
            height: 300px; /* only for demonstration, should be removed */
        }

        /* Clear floats after the columns */
        section:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Style the footer */
        footer {
            background-color: #c68866;
            padding: 20px;
            text-align: center;
            color: white;
        }

        /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
        @media (max-width: 600px) {
            nav, article {
                width: 100%;
                height: auto;
            }
        }
    </style>
</head>
<body>
<header>
    <h1>
        {% block title %}{% endblock %}
    </h1>
</header>

<nav>
    {% block nav %}{% endblock %}
</nav>

<section>
    {% block content %}{% endblock %}
</section>

<footer>
    CopyLeft
</footer>
</body>
</html>